{% extends "layout.html" %}

{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{url_for('electrostatic.static', filename='electrostatic.css')}}">
<script type="text/javascript">
	function confirm_delete(title)
	{
		if(confirm('Are you sure you want to delete:\n"'+title+'" ?')){return true;}else{return false;}
	}
</script>
{% endblock %}

{% block html_title %}ElectroStatic{% endblock %}
{% block title %}ElectroStatic{% endblock %}

{% block content %}
  <h2>New Article</h2>
  <form method="post" action="{{ url_for('electrostatic.save') }}" id="contentForm">
    <input type="hidden" name="filename" value="">
    <p><textarea name="text" tabindex="1"># title

text</textarea></p>

    <p>
      <input type="hidden" name="wasDraft" value="no">
      <input name="save" type="submit" tabindex="4" value="Publish"> <input name="preview" type="submit" tabindex="3" value="Preview">
      <input name="draft" id="draft" type="checkbox" tabindex="2"> <label for="draft">Save as draft</label>
    </p>
  </form>
{% endblock %}

{% block sidebar %}
<section>
  <h3>Articles</h3>
  <dl  id="articleList">
  {% for article in articles %}
    <dt><a href="{{ url_for('electrostatic.edit', filename=article.filename) }}">{{ article.title }}</a></dt>
    <dd>{{ article.pubDate[1] }} <a href="{{url_for('electrostatic.delete_article', filename=article.filename)}}" onclick="return confirm_delete('{{article.title}}');">delete</a></dd>
  {% else %}
    <dt><em>No Articles</em></dt>
  {% endfor %}
  </dl>
  <h3>Drafts</h3>
  <dl id="draftList">
  {% for draft in drafts %}
    <dt><a href="{{ url_for('electrostatic.draft', filename=draft.filename) }}">{{ draft.title }}</a></dt>
    <dd>{{draft.snippet}} <a href="{{url_for('electrostatic.delete_draft', filename=draft.filename)}}" onclick="return confirm_delete('{{draft.title}}')">delete</a></dd>
  {% else %}
    <dt><em>No Drafts</em></dt>
  {% endfor %}
  </dl>
</section>
{% endblock %}